{% extends 'test.html' %}
{% load static %}
{% block content %}


<div class='create'>
  <button type="button" class="btn btn-primary" onclick="window.location='';">Create</button>
</div>


<div class='first'>
    <div class="card" style="width: 17rem; margin: 10px;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">testing</h5>
          <p class="card-text">aku adalah binatang</p>
          <a href="" class="btn btn-warning">Update</a>
          <a href="" class="btn btn-danger">Delete</a>
        </div>
      </div>
  </div>

{% endblock %}